<h1>Мониторинг серверов</h1>

<p>Данная страница демонстрирует возможности менеджера серверов.</p>

<p *ngIf="!servers"><em>Информация о серверах загружается...</em></p>

<input #newServer
       (keyup.enter)="addServer(newServer.value); newServer.value=''">
<button mat-raised-button (click)="addServer(newServer.value); newServer.value=''" color="primary">Добавить</button>
<button mat-raised-button (click)="updServers()" color="primary">Обновить состояние серверов</button>



<table class='table' *ngIf="servers">
  <thead>
    <tr>
      <th>Название</th>
      <th>Адрес</th>
      <th>Статус</th>
      <th>Прогресс</th>
      <th>Номер текущей задачи</th>
      <th>Общее число задач</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let server of servers">
      <td>{{ server.name }}</td>
      <td>{{ server.uri }}</td>
      <td>{{ server.isBusy }}</td>
      <td>{{ server.persentageDone }}</td>
      <td>{{ server.curTaskNumber }}</td>
      <td>{{ server.totalTasksNumber }}</td>
    </tr>
  </tbody>
</table>
